.background {
  background: url(/assets/background.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
