.background {
  background: url(/assets/background.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 560px;
  width: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%; 
  background-size: 100% 100%;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
