<div id="header">
  <!-- <div id="headerBackgroundContainer">
    <embed id="headerBackground" src="assets/background.svg" type="image/svg+xml">
  </div> -->
  <div id="headerContainer">
    <embed id="headerArrow" src="assets/arrow.svg" type="image/svg+xml">
    <embed id="headerImage" src="assets/logo.svg" type="image/svg+xml" >
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
